


<div class="container custom-centered">
  <div class="row justify-content-center mt-5">
    <div class="col-4">
      <h1>Welcome, my student</h1>
      <form action="/answer" data-turbo="false">
        <div class="form-group pb-3">
          <label for="QuestionUser1">What do you want to say to the Coach ?</label>
          <input type="text" name="question" class="form-control" placeholder="Your sentence">
          <small id="questionHelp" class="form-text text-muted">Be careful, the coach is a bit stupid.</small>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary form-control">Ask!</button>
        </div>
      </form>
    </div>
 </div>
<div>
